name: Paradex Code Quality Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Install Dependencies
      run: go mod tidy

    - name: Build Check
      run: go build -v ./...

    - name: Run Security Scan
      run: echo "Scanning for vulnerabilities in Paradex Ingester..."
